@import url(../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css);
@import url(fonts.css);
//@import url(bootstrap.min.css);

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

* {
  font-family: Oswald, serif;
}

.container {
  max-width: 1040px;
  width: 100%;
  height: 100%;
  position: relative;
}

video {
  position: absolute;
  max-width: 1010px;
  width: 100%;
  z-index: 0;
}

header.fixed-top {
  @include max-screen(992px) {
    position: relative;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.section-title {
  font-size: 30px;
  font-family: "Myriad Pro";
  font-weight: 700;
  margin-bottom: 50px;
}

.line {
  &:after {
    margin-top: 60px;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: relative;
    z-index: 1;
    bottom: 0;
  }
}

.abc {
  height: 50px;
  background-color: #ff253a;
  border: 2px solid black;
  display: block;
}

//.bg-dark {
//  background-color: black!important;
//}


header {
  background-color: black;
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    .navbar-brand {
      padding: 0;
      margin: 0;
    }
    .navbar-toggler {
      padding: 0;
      outline: none;
      &.collapsed {
        span {
          &:after {
            background-color: black;
            color: white;
            border-radius: 50%;
          }
        }
      }
      span {
        &:after {
          content: "\f141";
          display: block;
          color: black;
          background-color: white;

          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 30px;
          border: 2px solid white;
          padding: 0px 7px;
          border-radius: 20px;
          transition: 0.1s linear;
        }
      }
    }
    .navbar-collapse {
      li {
        margin-left: 90px;
        text-align: center;
        @include max-screen(991px) {
          margin-left: 0;
          margin-bottom: 10px;
          border-bottom: 2px dotted white;
          text-align: center;
        }
        a {
          text-decoration: none;
          color: white;
          font-size: 18px;
        }
        &:first-of-type {
          margin-left: 0;
        }
        &:hover, &.active {
          a {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

.banner {
  margin-top: 109px;
  background-color: black;
  min-height: 568px;
  @include max-screen(992px) {
    margin-top: -1px;
  }
  .container {
    video {
      @include max-screen(767px) {
        right: 20%;
      }
      @include max-screen(575px) {
        position: relative;
        right: 0;
      }
    }
    .time-place {
      margin-top: 100px;
      color: white;
      margin-bottom: 115px;
      h1 {
        font-size: 46px;
        font-weight: 700;
        margin-bottom: 20px;
        font-family: "Myriad Pro";
      }
      h2 {
        font-size: 24px;
        margin-bottom: 55px;
        font-family: "Myriad Pro";
        letter-spacing: 2px;
      }
      a {
        color: white;
        border: 3px solid white;
        border-radius: 0;
        padding: 15px 20px;
        font-size: 18px;
        transition: 0.3s ease-in-out;
        &:hover {
          color: black;
          background-color: #fff;
        }
      }
      @include max-screen(767px) {
        transform: scale(0.8);
      }
      @include max-screen(575px) {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
    .partners {
      position: relative;
      bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      .partner-itm {
        color: white;
        h5 {
          font-size: 16px;
          font-weight: 300;
        }
        @include max-screen(575px) {
          margin-bottom: 35px;
        }
      }
    }
  }
}

.if-you {
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  .container {
    @keyframes move1 {
      0% {
        right: 100%;
        transform: scale(0);
        color: transparent;
      }
      80% {
        top: 20px;
        color: transparent;
      }
      100% {
        right: 0;
        top: 0;
        transform: scale(1);
        color: white;
      }
    }
    @keyframes move2 {
      0% {
        right: 100%;
        transform: scale(0);
        color: transparent;
      }
      80% {
        top: 20px;
        color: transparent;
      }
      100% {
        right: 0;
        top: 0;
        transform: scale(0.9);
        color: white;
      }
    }
    h6 {
      position: relative;
      margin-bottom: 100px;
      animation-name: move1;
      animation-duration: 3s;
      animation-delay: -1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: backwards;
      @include max-screen(767px) {
        transform: scale(0.9);
        animation-name: move2;
      }
    }
    ol {
      list-style-position: inside;

      @keyframes fromhidetoshow {
        0% {
          color: transparent;
        }
        10% {
          transform: scale(1.1);
        }
        30% {
          color: transparent;
          opacity: 0.1;
        }
        65% {
          opacity: 0.55;
          transform: scale(1);
        }
        100% {
          color: white;
          opacity: 1;
        }
      }
      li {
        animation: fromhidetoshow 1s 1.5s ease-in-out;
        animation-fill-mode: both;
        position: relative;
        padding-bottom: 30px;
      }
    }
  }
}


.information {
  .container {
    max-width: 900px;
    .people-group {
      height: 100vh;
      align-items: center;
      .people-item {
        padding: 0;
        img {
          margin-bottom: 60px;
        }
      }
    }
  }
}

.register {
  padding-top: 90px;
  padding-bottom: 90px;
  .container {
  }
}

.contacts {
  background-color: black;
  padding-top: 70px;
  //padding-bottom: 70px;
  color: white;
  .container {
    p {
      font-size: 24px;
      margin-bottom: 110px;
      a {
        text-decoration: underline;
        color: white;
        &:hover {
          text-decoration: underline;
          color: #9799af;
        }
      }
    }
  }
}

.partners {
  padding-top: 90px;
  padding-bottom: 110px;
  .container {
    width: 100%;
    @include max-screen(575px) {
      width: 90%;
    }
    .partner-item {
      display: flex;
      justify-content: center;
      margin-bottom: 75px;
      a {
        text-decoration: none;
        //color: black;
        h6 {
          color: black;
          font-size: 14px;
          font-weight: 300;
        }
        img {
          margin-bottom: 30px;
        }
      }
    }
    .partners-toggler {
      outline: none;
      width: 150px;
      padding: 0;
      background-color: white;
      border: 2px solid black;
      .btn {
        color: black;
      }
      .btn.hide {
        display: inline-block;
      }
      .btn.show {
        display: none;
      }
      &.collapsed {
        .btn.hide {
          display: none;
        }
        .btn.show {
          display: inline-block;
        }
      }
      &.hided.collapsed {
        display: none;
      }
    }
  }
}

footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: black;
  .container {
    .row {
      justify-content: space-between;
      .sponsors {
        @keyframes show {
          0% {
            transform: scale(0);
            display: none;
          }
          70% {
            transform: scale(1.1);
            display: block;
          }
          100% {
            transform: scale(1);
          }
        }
        .sponsors-itm {
          text-decoration: none;
          color: white;
          font-size: 18px;
          margin-bottom: 50px;
          animation: show 2s ease-out;

          transition: 0.3s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
          h5 {
            line-height: 21px;
            margin-bottom: 30px;
          }
        }
      }
    }
    .social {
      display: flex;
      justify-content: center;
      @include min-screen(768px) {
        justify-content: flex-end;
      }
      span {
        transition: 0.3s ease-in-out;
        text-align: center;
        margin-left: 6px;
        font-size: 26px;
        line-height: 40px;
        a {
          color: white;
          text-decoration: none;
          background-color: transparent;
          transition: 0.3s;
          &:before {
            content: "\f39e";
            display: inline-block;
            font-family: "Font Awesome 5 Brands";
            font-weight: 900;
            font-size: 26px;
            line-height: 40px;
            text-align: center;
            width: 40px;
            height: 40px;
            border: 1px solid white;
          }
        }

        &:first-of-type a:before {
          content: "\f167";
          font-size: 24px;
        }
        &:last-of-type a:before {
          content: "\f16d";
          font-size: 24px;
        }
        &:hover, &.active {
          background-color: white;
          transform: scale(1.2);
        }
        &:first-of-type:hover a {
          color: red;
        }
        &:nth-child(2):hover a {
          color: blue;
        }
        &:last-of-type:hover a {
          background: -moz-linear-gradient(45deg, #ffbe1c 0%, #ff8e1e 23%, #f91d6a 57%, #7c1eff 100%);
          background: -webkit-linear-gradient(45deg, #ffbe1c 0%, #ff8e1e 23%, #f91d6a 57%, #7c1eff 100%);
          background: linear-gradient(45deg, #ffbe1c 0%, #ff8e1e 23%, #f91d6a 57%, #7c1eff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-blend-mode: multiply;

        }
      }
    }
  }
}




